/* src/components/Footer/Footer.css */
.footer {
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
    color: #777;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-icon {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}
